.reelsMainDiv{
    height: 100%;
    overflow-y:auto;
    width: 100%;
    display: grid;
    grid-auto-flow: row;
    place-items: center;
    opacity: .5;
    z-index: 500;
    gap: 1rem;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    margin: 0 !important;
    padding-top: 2rem;
    padding: 1rem 0;
}
.reelsMainDiv>div:first-child.animate {
    margin-bottom: 2rem;
}
.reel{
    background-color: var(--background2);
    height: calc( 100vh - 4rem);
    width: 24.8rem;
    border-radius: 5px;
    position: relative;
    scroll-snap-align: center;
    border: none;
    outline: none;
    z-index: 1;
    display: flex;
}
.reel>.backVideo{
    content: '';
    position: absolute;
    opacity: .8;
    filter: blur(25px);
    overflow: auto;
    z-index: -1;
    height: 100%;
    width: 100%;
}
.reel>video{
    height: 100%;
    width: 100%;
    outline: none !important;
    z-index: 5;
    object-fit: cover;
}
@media screen and (max-width:425px) {
    /* .reelsMainDiv{
        scroll-padding-top: 0rem !important;
        scroll-snap-type: y mandatory;   
    } */
    .reel{
        width: 100vw !important;
        scroll-snap-align: start;
        height: auto !important;
        height: calc( 100vh - 3.5rem) !important;
    }
    .reelsMainDiv>div:first-child.animate {
        margin-bottom: 0rem;
    }
}
@media screen and (max-width:767px) {
    .reelsMainDiv{
        padding: 0 !important;
        gap: 0rem;
    }   
    .reel{

        border: 1px solid red;
    }
    .reel>video{
        width: 100% !important;
        height:100%;
    }
}
@media screen and (min-width:426px) and (max-width:767px) {
    .reel{
        max-width: 24.8rem;
        height: calc( 100vh - 3.5rem);
    }
}
@media screen and (min-width:768px) and (max-width:1439px) {
    .reel{
        width: 22rem;
    }
}